<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Логотип компании" />
            <h1>WOODSHOP</h1>
        </div>
        <div class="flex-container" style="gap: 20px; padding-right: 1%">
            <a href="{{ url_for('index') }}" class="no-color-link dropdown-link">Главная</a>
            <a href="{{ url_for('about') }}" class="no-color-link dropdown-link">О нас</a>
            <div class="dropdown">
                <a href="{{ url_for('catalog') }}" class="no-color-link dropdown-link">Каталог</a>
                <div class="dropdown-content">
                    <a href="#">Столешницы</a>
                    <a href="#">Стулья</a>
                    <a href="#">Шкафы</a>
                    <a href="#">Кресла</a>
                    <a href="#">Принадлежности</a>
                    <a href="#">Скамейки</a>
                    <a href="#">Кровати</a>
                    <a href="#">Декор</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}" class="no-color-link dropdown-link">Контакты</a>
            <a href="{{ url_for('faq') }}" class="no-color-link dropdown-link">FAQ</a>
            <span class="icon dropdown-link">👤</span>
            <span class="icon dropdown-link">🛒</span>
        </div>
    </header>



    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-info">
                <p><em>Контакты</em></p>
                <p>Адрес<br />Москва, Вешних Вод, д 14, стр.2</p>
                <p>Email<br />contact@gmail.com</p>
                <p>Телефон<br />+79182315619</p>
            </div>
            <div class="footer-catalog-1">
                <p>Столешницы</p>
                <p>Стулья</p>
                <p>Шкафы</p>
                <p>Кресла</p>
            </div>
            <div class="footer-catalog-2">
                <p>Принадлежности</p>
                <p>Скамейки</p>
                <p>Кровати</p>
                <p>Декор</p>
            </div>
            <div class="footer-brand">
                <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo Image" class="logo-image" />
                <div>
                    <h2 class="naming">WOODSHOP</h2>
                    <p>Пользовательское соглашение</p>
                    <p>Политика конфиденциальности</p>
                    <p>Обработка персональных данных</p>
                </div>
                <div class="footer-images">
                    <img src="{{ url_for('static', filename='img/tg-logo.png') }}" alt="Telegram" />
                    <img src="{{ url_for('static', filename='img/vk-logo.png') }}" alt="Vkontakte" />
                    <img src="{{ url_for('static', filename='img/whatsapp-logo.png') }}" alt="WhatsApp" />
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
