body {
    background-color: #f4f4f4;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 20px;
}

.category-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    flex: 1 1 calc(25% - 20px); /* 4 элемента в ряд */
    margin: 10px;
    box-sizing: border-box;
}

.catalog-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.filters {
    width: 20%;
    margin-right: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

.products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card .price {
    font-size: 20px;
    color: #000;
}

.product-card .add-to-cart {
    display: none;
}

.product-card:hover .price {
    display: none;
}

.product-card:hover .add-to-cart {
    display: block;
}

.product-card .favorite {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-image: url('path-to-heart-icon');
}

.product-card:hover .favorite {
    display: block;
}

.apply-filters-btn {
    background-color: #a75b24;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.apply-filters-btn:hover {
    background-color: #8a491d;
}
