{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<h1>ЭТО СТРАНИЦА ABOUT</h1>
<!-- Основное содержимое страницы -->
{% endblock %}