{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">

<div class="faq-container">
    <h2>Часто задаваемые вопросы</h2>
    <div class="faq-item">
        <input type="checkbox" id="question1">
        <label for="question1">Я боюсь, что эспандер порвется и ударит меня.</label>
        <div class="answer">
            <p>Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.Ответ на вопрос.</p>
        </div>
    </div>
    <div class="faq-item">
        <input type="checkbox" id="question2">
        <label for="question2">Можно ли заниматься с эспандерами мужчинам?</label>
        <div class="answer">
            <p>Ответ на вопрос.</p>
        </div>
    </div>
    <!-- Add more FAQ items here -->
    <div class="faq-item">
        <input type="checkbox" id="question3">
        <label for="question3">Я боюсь, что эспандер порвется и ударит меня.</label>
        <div class="answer">
            <p>Ответ на вопрос.</p>
        </div>
    </div>
    <div class="faq-item">
        <input type="checkbox" id="question4">
        <label for="question4">Можно ли заниматься с эспандерами мужчинам?</label>
        <div class="answer">
            <p>Ответ на вопрос.</p>
        </div>
    </div>
    <!-- Add more FAQ items here -->
    <div class="faq-item">
        <input type="checkbox" id="question5">
        <label for="question5">Я боюсь, что эспандер порвется и ударит меня.</label>
        <div class="answer">
            <p>Ответ на вопрос.</p>
        </div>
    </div>
    <div class="faq-item">
        <input type="checkbox" id="question6">
        <label for="question6">Можно ли заниматься с эспандерами мужчинам?</label>
        <div class="answer">
            <p>Ответ на вопрос.</p>
        </div>
    </div>
    <!-- Add more FAQ items here -->
    <div class="faq-item">
        <input type="checkbox" id="question7">
        <label for="question7">Я боюсь, что эспандер порвется и ударит меня.</label>
        <div class="answer">
            <p>Ответ на вопрос.</p>
        </div>
    </div>
    <div class="faq-item">
        <input type="checkbox" id="question8">
        <label for="question8">Можно ли заниматься с эспандерами мужчинам?</label>
        <div class="answer">
            <p>Ответ на вопрос.</p>
        </div>
    </div>
    <!-- Add more FAQ items here -->
</div>
{% endblock %}
